= provide(:title, "New Observation")
  
.hero-unit
  = form_for @observation, html: { class: "form-horizontal" } do |f|
    %legend
      New Observation
    .control-group
      %label.control-label
        Mode
      .controls
        =f.select :mode_id, options_for_select( list_modes, last_observation.mode_id)
    .control-group
      = fields_for :page do |page|
        %label.control-label
          Page number
        .controls
          = page.text_field(:number, value: last_observation.page_number)
    .control-group
      %label.control-label
        Order in page
      .controls
        = f.text_field :order_in_page, value: last_observation.order_in_page + 1
    .control-group
      %label.control-label
        Text
      .controls
        = f.text_area :text
    .control-group
      %label.control-label
        Place name in text
      .controls
        = f.text_field :place_name_in_text
    = fields_for :place do |place|
      .control-group
        %label.control-label
          Canonical place name
        .controls
          = place.autocomplete_field :name, autocomplete_place_name_observations_path
      .control-group
        %label.control-label
          Geocoding notes
        .controls
          = place.text_area :geocoding_notes
    .control-group
      .controls
        %label.checkbox
          = f.check_box :dialogue, value: last_observation.dialogue
          Dialogue?
    .control-group
      .controls
        %label.checkbox
          = f.check_box :adjective, value: last_observation.adjective
          Adjective? (like "French puppy")
    .control-group
      .controls
        %label.checkbox
          = f.check_box :not_a_place, value: last_observation.not_a_place      
          Not a place? (Like USS Lusitania)
    .control-group
      .controls
        %label.control-label
          Observation notes
        .controls
          = f.text_area :notes
    .center
      = f.submit "Save observation!", class: "btn"