= provide(:title, "Geographical Observations for Chapter #{@chapter.id}, “#{@chapter.name}”")

%p
  Here are some observations:

%table.table.table-hover.table-striped#observations
  %thead
    %th
      Place
    %th
      Page
    %th
      Text
    %th
      Feature Type
  %tbody
    - @observations.each do |observation|
      %tr
        %td
          = place_name(observation.place_id)
        %td
          = observation.page_number
        %td
          = observation.text
        %td
          = "Feat."