<h1>Chapters in <i>U. S. A.</i></h1>

<table class="table table-striped table-condensed table-hover" id="places-table">
  <th>&nbsp;</th>
  <th>Name</th>
  <th>Subhead</th>
  <th>Pages</th>
  <th>Mode</th>
  {{#each}}
    <tr>
      <td>
        {{book.name}}
      <td>
        {{#link-to "chapter" this}}{{name}}{{/link-to}}
      </td>
      <td>
        <small>
          {{#if profile.historicalName}}
            {{profile.historicalName}}
          {{else}}
            {{subhead}}
          {{/if}}
        </small>
      </td>
      <td>
        <small>
          {{firstPage}}–{{lastPage}}
        </small>
      </td>
      <td>
        <small>
          {{mode.name}}
        </small>
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="5">There are no chapters.</td>
    </tr>
  {{/each}}
</table>
